<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="30">
    <Properties>
        <Property name="APP_NAME" value="${spring:spring.application.name:-log4j2-custom-format-example}"/>
        <Property name="VER" value="${spring:spring.application.version:-1.0.0}"/>
        <Property name="INSTANCE_IP" value="${sys:instanceIp:-192.168.1.100}"/>
        <Property name="LOG_HOME">${sys:log.dir:-logs}</Property>
        <Property name="LOG_NAME">${APP_NAME}</Property>
        <Property name="FILE_NAME">${LOG_HOME}/${APP_NAME}.log</Property>
        <Property name="CONSOLE_PATTERN_FORMAT"
                  value='{"%d{yyyy-MM-dd HH:mm:ss.SSS}","%highlight{%-5level}","%thread","${INSTANCE_IP}","%highlight{%X{trace-id}}","%X{trace-ip}","%highlight{%logger{0}}","%highlight{%method}",%jm}%n'/>
        <Property name="JSON_PATTERN_FORMAT"
                  value='{"dateTime":"%d{yyyy-MM-dd HH:mm:ss.SSS}","level":"%-5level","thread":"%thread","instanceIp":"${INSTANCE_IP}","traceId":"%X{trace-id}","requestIp":"%X{trace-ip}","class":"%logger{0}","method":"%method","message":%jm}%n'/>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${CONSOLE_PATTERN_FORMAT}</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="rollingFile" fileName="${FILE_NAME}"
          filePattern="${LOG_HOME}/${LOG_NAME}.%d{yyyy-MM-dd}.log.%i">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${JSON_PATTERN_FORMAT}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>
            <DefaultRolloverStrategy max = "50" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- LOG everything at DEBUG level -->
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>

        <!-- TraceRoot SDK specific logger -->
        <Logger name="ai.traceroot.sdk" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>

        <!-- Reduce noise in logs -->
        <Logger name="io.opentelemetry" level="WARN"/>
        <Logger name="org.apache.hc" level="WARN"/>
    </Loggers>
</Configuration>
