# The token for the TraceRoot API
TRACEROOT_TOKEN=traceroot-7c7c3b05e9ce300ca77fc4b0e72751cc

# Enable cloud export of spans (default: `true`)
TRACEROOT_ENABLE_SPAN_CLOUD_EXPORT=true

# Enable cloud export of logs (default: `true`)
TRACEROOT_ENABLE_LOG_CLOUD_EXPORT=true

# Absolute path to your project root directory
TRACEROOT_ROOT_PATH=/Users/zecheng/code/traceroot-sdk-java
